.newspagehder
{background-color: #50698c;
}
.mappp{

margin-top: 100px;
}
.mapword p{

  font-size:40px;
  font-family: cursive;
  color: white;

}
.map2word p{


font-size: 16px;
font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
color: white;

}
div h4
{
  color:white;
}
div #text
{
  color:white;
}
